.hd{
    background-color: black;
}
.back {
    background-image: url('/static/images/bb.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 634px;
}

#content{
    padding-top: 100px;
}

.follow-button{
    margin-top: 20px;
    margin-left:15px;
}

#main-form{
    padding-top: 100px;
    background-image: url('/static/images/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 754px;
}
label{
    font-size: x-large;
    padding-top: 50px;
}
